<th:block th:fragment="monster-modal">
    <!-- Modal -->
    <div class="modal fade" id="monsterDetailModal" tabindex="-1" aria-labelledby="monsterDetailModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="monsterDetailModalLabel" th:text="#{app.monsters.modal.title}"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="monsterDetails">
                        <span class="text-muted">Carregando...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script para abrir modal -->
    <script>
        document.addEventListener("click", function(e) {
            const link = e.target.closest(".monster-link");
            if (!link) return;

            const monsterId = link.getAttribute("data-monster-id");
            openMonsterModal(monsterId);
        });

        // Agora a função pode ser reaproveitada em qualquer lugar
        function openMonsterModal(monsterId) {
            const url = '/monsters/' + monsterId;

            $('#monsterDetails').html('<span class="text-muted">Carregando...</span>');
            $('#monsterDetails').load(url, function() {
                $('#monsterDetailModal').modal('show').attr('aria-hidden', 'false');
            });
        }
    </script>
</th:block>
