<th:block th:fragment="cards">
    <div th:each="npc : ${npcs}" class="col">

        <div class="card card-rpg shadow-lg border-0 rounded-4 overflow-hidden h-100 mb-4"
             th:attr="data-npc-id=${npc.id}">

            <div class="card-header bg-dark text-light d-flex justify-content-between align-items-center py-2 px-3">
                <strong class="text-white fs-5" th:text="${npc.name}"></strong>
                <div>
                    <span class="text-warning fw-bolder me-3">
                        <i th:class="${npc.className.iconClass}"></i>
                        <span th:text="#{${'class.' + npc.className.name()}}"></span>
                    </span>
                    <span class="badge bg-danger rounded-pill fw-bold">
                        <span th:text="#{app.npcs.filter.level}"></span>
                        <span th:text="${npc.level} ?: '1'"></span>
                    </span>
                </div>
            </div>

            <div class="card-body p-3 bg-light-subtle">
                <div class="row g-4">

                    <div class="col-md-4 d-flex flex-column text-center border-rpg-accent pe-md-3">

                        <i class="ra ra-player display-3 mb-2"
                           th:classappend="${npc.gender.name() == 'MALE'} ? 'text-primary' : 'text-danger'"></i>

                        <div class="mb-3">
                            <p class="fw-bold fs-6 text-warning mb-0" th:text="#{${'race.' + npc.race.name()}}"></p>
                            <small class="text-muted" th:text="#{${'gender.' + npc.gender.name()}}"></small>
                        </div>

                        <div class="border p-2 rounded mb-3 bg-white shadow-sm">
                            <div class="d-flex justify-content-around small fw-bold mb-2">
                                <i class="ra ra-shield text-secondary"></i>
                                <span class="text-primary" th:text="#{app.npcs.card.ac} + ': ' + ${npc.armorClass}"></span>
                                <i class="ra ra-hearts text-danger"></i>
                                <span class="text-danger" th:text="#{app.npcs.card.hp} + ': ' + ${npc.maxHP}"></span>
                            </div>
                            <small class="text-success">
                                <i class="ra ra-star-key"></i> <span th:text="#{app.npcs.card.proficiency}"></span>
                                <span th:text="${npc.proficiencyBonus}"></span>
                            </small>
                        </div>

                        <div class="small mb-3 text-start">
                            <p class="mb-1">
                                <span class="fw-bold text-warning" th:text="#{app.npcs.card.alignment}"></span><br />
                                <span th:text="#{${'alignment.' + npc.alignment.name()}}"></span>
                            </p>
                            <p class="mb-1">
                                <span class="fw-bold text-warning" th:text="#{app.npcs.card.background}"></span><br />
                                <span th:text="#{${'background.' + npc.background.name()}}"></span>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-8 d-flex flex-column">

                        <h5 class="border-bottom pb-1 mb-3 text-warning fw-bold">
                            <i class="ra ra-cube"></i> <span th:text="#{app.npcs.card.attributes}"></span>
                        </h5>
                        <div class="d-flex justify-content-around text-center border border-rpg-accent rounded-3 p-2 small bg-white mb-4">
                            <div th:each="entry : ${npc.statistics.attributes().entrySet()}"
                                 class="text-center px-1">
                                <span class="fw-bold text-primary" th:text="#{${'attributes.prefix.' + entry.key}}"></span><br>
                                <span class="fs-5 text-dark" th:text="${entry.value}"></span>
                            </div>
                        </div>

                        <h5 class="border-bottom pb-1 mb-3 text-warning fw-bold">
                            <i class="ra ra-heart-key"></i> <span th:text="#{app.npcs.card.personality}"></span>
                        </h5>
                        <div class="row small text-secondary">

                            <div class="col-6">
                                <div class="mb-2">
                                    <i class="ra ra-quill text-info"></i>
                                    <span class="fw-bold" th:text="#{app.npcs.card.personality.trait} + ': '"></span>
                                    <span th:text="#{${'personality.traits.' + npc.background.trait.name()}}"></span>
                                </div>
                                <div class="mb-2">
                                    <i class="ra ra-hand-holding-heart text-success"></i>
                                    <span class="fw-bold" th:text="#{app.npcs.card.ideal} + ': '"></span>
                                    <span th:text="#{${'ideals.' + npc.background.ideal.name()}}"></span>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-2">
                                    <i class="ra ra-link text-primary"></i>
                                    <span class="fw-bold" th:text="#{app.npcs.card.bond} + ': '"></span>
                                    <span th:text="#{${'bonds.' + npc.background.bond.name()}}"></span>
                                </div>
                                <div class="mb-2">
                                    <i class="ra ra-exclamation-mark text-danger"></i>
                                    <span class="fw-bold" th:text="#{app.npcs.card.flaw} + ': '"></span>
                                    <span th:text="#{${'flaws.' + npc.background.flaw.name()}}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4 pt-4 border-top border-rpg-accent">

                    <h5 class="border-bottom pb-1 mb-3 text-warning fw-bold">
                        <i class="ra ra-crossed-swords"></i> <span th:text="#{app.npcs.card.attack}"></span>
                    </h5>

                    <table class="table table-borderless table-sm table-striped">
                        <thead>
                            <tr>
                                <th th:text="#{app.npcs.card.attack.name}"></th>
                                <th th:text="#{app.npcs.card.attack.damage}"></th>
                                <th th:text="#{app.npcs.card.attack.type}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="weapon : ${npc.getWeapons()}">
                                <td>
                                    <span class="fw-bolder" th:text="#{${'item.' + weapon.name}}"></span>
                                </td>
                                <td>
                                    <span class="text-success fw-bold" th:text="${weapon.attack.damageDice}"></span>
                                </td>
                                <td class="text-danger fw-bold">
                                    <i th:classappend="${weapon.attack.damageType.iconClass}"></i>
                                    <span  th:text="#{${'damage.' + weapon.attack.damageType}}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h5 class="border-bottom pb-1 mb-3 text-warning fw-bold">
                        <svg fill="currentColor" height="16px" width="16px" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                            <g>
                                <g>
                                    <g>
                                        <path d="M503.467,25.6h-85.333c-4.719,0-8.533,3.823-8.533,8.533v25.6H307.2v-25.6c0-4.71-3.814-8.533-8.533-8.533h-85.333
                                            c-4.719,0-8.533,3.823-8.533,8.533v25.6H102.4v-25.6c0-4.71-3.814-8.533-8.533-8.533H8.533C3.814,25.6,0,29.423,0,34.133v187.733
                                            v256c0,4.71,3.814,8.533,8.533,8.533h494.933c4.719,0,8.533-3.823,8.533-8.533v-256V34.133C512,29.423,508.186,25.6,503.467,25.6
                                            z M221.867,170.667v-51.2v-51.2v-25.6h68.267v25.6v51.2v51.2v42.667h-68.267V170.667z M238.933,264.533
                                            c-4.719,0-8.533-3.823-8.533-8.533s3.814-8.533,8.533-8.533h17.024c0.017,0,0.026-0.009,0.043-0.009s0.026,0.009,0.043,0.009
                                            h17.024c4.719,0,8.533,3.823,8.533,8.533s-3.814,8.533-8.533,8.533h-8.533v25.6c0,4.71-3.814,8.533-8.533,8.533
                                            s-8.533-3.823-8.533-8.533v-25.6H238.933z M17.067,42.667h68.267v25.6v51.2v51.2v42.667H17.067V42.667z M460.8,426.667
                                            c0,4.71-3.814,8.533-8.533,8.533H59.733c-4.719,0-8.533-3.823-8.533-8.533v-153.6c0-4.71,3.814-8.533,8.533-8.533h153.6v8.533
                                            c0,23.526,19.14,42.667,42.667,42.667c23.526,0,42.667-19.14,42.667-42.667v-8.533h153.6c4.719,0,8.533,3.823,8.533,8.533
                                            V426.667z M494.933,213.333h-68.267v-42.667v-51.2v-51.2v-25.6h68.267V213.333z"/>
                                        <path d="M314.752,283.546c-0.145,0.811-0.282,1.613-0.461,2.406c-0.239,1.092-0.529,2.167-0.828,3.234
                                            c-0.213,0.742-0.401,1.493-0.64,2.227c-0.367,1.126-0.785,2.219-1.22,3.319c-0.247,0.631-0.469,1.28-0.742,1.911
                                            c-0.546,1.271-1.161,2.5-1.792,3.721c-0.222,0.418-0.401,0.862-0.631,1.271c-0.888,1.63-1.852,3.209-2.884,4.736
                                            c-0.179,0.282-0.393,0.529-0.589,0.802c-0.862,1.237-1.749,2.449-2.705,3.618c-0.393,0.486-0.836,0.939-1.246,1.417
                                            c-0.794,0.913-1.587,1.818-2.432,2.671c-0.503,0.512-1.033,0.99-1.553,1.485c-0.811,0.768-1.63,1.536-2.483,2.261
                                            c-0.58,0.486-1.169,0.947-1.766,1.408c-0.853,0.674-1.715,1.323-2.603,1.946c-0.64,0.452-1.289,0.879-1.946,1.297
                                            c-0.896,0.58-1.801,1.135-2.731,1.664c-0.691,0.393-1.382,0.768-2.082,1.135c-0.947,0.495-1.92,0.956-2.893,1.399
                                            c-0.725,0.324-1.442,0.649-2.176,0.947c-1.015,0.41-2.048,0.777-3.089,1.126c-0.734,0.256-1.459,0.521-2.21,0.742
                                            c-1.101,0.324-2.219,0.589-3.337,0.862c-0.725,0.171-1.442,0.358-2.176,0.503c-1.254,0.247-2.526,0.418-3.806,0.589
                                            c-0.631,0.077-1.246,0.196-1.886,0.256c-1.92,0.188-3.874,0.299-5.845,0.299s-3.925-0.111-5.845-0.299
                                            c-0.64-0.06-1.254-0.179-1.886-0.256c-1.28-0.171-2.551-0.341-3.806-0.589c-0.734-0.145-1.451-0.333-2.167-0.503
                                            c-1.126-0.265-2.244-0.538-3.345-0.862c-0.751-0.222-1.476-0.486-2.21-0.742c-1.041-0.35-2.074-0.717-3.089-1.126
                                            c-0.734-0.299-1.451-0.623-2.176-0.947c-0.973-0.444-1.946-0.905-2.893-1.399c-0.7-0.367-1.391-0.742-2.082-1.135
                                            c-0.93-0.529-1.835-1.084-2.739-1.664c-0.649-0.418-1.297-0.845-1.937-1.289c-0.888-0.623-1.749-1.28-2.603-1.954
                                            c-0.597-0.461-1.186-0.922-1.766-1.408c-0.853-0.725-1.673-1.493-2.483-2.261c-0.521-0.495-1.05-0.973-1.553-1.485
                                            c-0.845-0.853-1.638-1.758-2.432-2.671c-0.41-0.478-0.853-0.93-1.246-1.417c-0.964-1.178-1.869-2.406-2.739-3.652
                                            c-0.179-0.265-0.375-0.503-0.555-0.759c-1.033-1.536-1.997-3.115-2.884-4.745c-0.23-0.41-0.41-0.853-0.631-1.271
                                            c-0.631-1.22-1.246-2.449-1.792-3.721c-0.273-0.631-0.495-1.28-0.742-1.911c-0.435-1.101-0.853-2.193-1.22-3.319
                                            c-0.239-0.734-0.427-1.476-0.64-2.219c-0.299-1.075-0.589-2.15-0.836-3.251c-0.171-0.785-0.307-1.587-0.452-2.389
                                            c-0.119-0.648-0.282-1.289-0.375-1.954H68.267v136.533h375.467V281.6H315.128C315.034,282.257,314.871,282.897,314.752,283.546z
                                             M102.4,307.2h51.2c4.719,0,8.533,3.823,8.533,8.533s-3.814,8.533-8.533,8.533h-51.2c-4.719,0-8.533-3.823-8.533-8.533
                                            S97.681,307.2,102.4,307.2z M102.4,341.333c4.71,0,8.533,3.823,8.533,8.533s-3.823,8.533-8.533,8.533
                                            c-4.71,0-8.533-3.823-8.533-8.533S97.69,341.333,102.4,341.333z M153.6,392.533h-51.2c-4.719,0-8.533-3.823-8.533-8.533
                                            c0-4.71,3.814-8.533,8.533-8.533h51.2c4.719,0,8.533,3.823,8.533,8.533C162.133,388.71,158.319,392.533,153.6,392.533z
                                             M187.733,392.533c-4.71,0-8.533-3.823-8.533-8.533c0-4.71,3.823-8.533,8.533-8.533s8.533,3.823,8.533,8.533
                                            C196.267,388.71,192.444,392.533,187.733,392.533z M187.733,358.4h-51.2c-4.719,0-8.533-3.823-8.533-8.533
                                            s3.814-8.533,8.533-8.533h51.2c4.719,0,8.533,3.823,8.533,8.533S192.452,358.4,187.733,358.4z M187.733,324.267
                                            c-4.71,0-8.533-3.823-8.533-8.533s3.823-8.533,8.533-8.533s8.533,3.823,8.533,8.533S192.444,324.267,187.733,324.267z
                                             M256,341.333h17.067c4.719,0,8.533,3.823,8.533,8.533s-3.814,8.533-8.533,8.533H256c-4.719,0-8.533-3.823-8.533-8.533
                                            S251.281,341.333,256,341.333z M221.867,341.333c4.71,0,8.533,3.823,8.533,8.533s-3.823,8.533-8.533,8.533
                                            c-4.71,0-8.533-3.823-8.533-8.533S217.156,341.333,221.867,341.333z M290.133,392.533h-68.267c-4.719,0-8.533-3.823-8.533-8.533
                                            c0-4.71,3.814-8.533,8.533-8.533h68.267c4.719,0,8.533,3.823,8.533,8.533C298.667,388.71,294.852,392.533,290.133,392.533z
                                             M324.267,392.533c-4.71,0-8.533-3.823-8.533-8.533c0-4.71,3.823-8.533,8.533-8.533S332.8,379.29,332.8,384
                                            C332.8,388.71,328.977,392.533,324.267,392.533z M409.6,392.533h-51.2c-4.719,0-8.533-3.823-8.533-8.533
                                            c0-4.71,3.814-8.533,8.533-8.533h51.2c4.719,0,8.533,3.823,8.533,8.533C418.133,388.71,414.319,392.533,409.6,392.533z
                                             M409.6,341.333c4.71,0,8.533,3.823,8.533,8.533s-3.823,8.533-8.533,8.533s-8.533-3.823-8.533-8.533
                                            S404.89,341.333,409.6,341.333z M384,307.2c4.71,0,8.533,3.823,8.533,8.533s-3.823,8.533-8.533,8.533s-8.533-3.823-8.533-8.533
                                            S379.29,307.2,384,307.2z M384,349.867c0,4.71-3.814,8.533-8.533,8.533h-34.133c-4.719,0-8.533-3.823-8.533-8.533
                                            s3.814-8.533,8.533-8.533h34.133C380.186,341.333,384,345.156,384,349.867z M324.267,307.2h25.6c4.719,0,8.533,3.823,8.533,8.533
                                            s-3.814,8.533-8.533,8.533h-25.6c-4.719,0-8.533-3.823-8.533-8.533S319.548,307.2,324.267,307.2z M307.2,358.4
                                            c-4.71,0-8.533-3.823-8.533-8.533s3.823-8.533,8.533-8.533s8.533,3.823,8.533,8.533S311.91,358.4,307.2,358.4z"/>
                                    </g>
                                </g>
                            </g>
                            </svg>
                        <span th:text="#{app.npcs.card.inventory}"></span>
                    </h5>

                    <table class="table table-borderless table-sm table-striped">
                        <thead>
                        <tr>
                            <th th:text="#{app.npcs.card.inventory.name}"></th>
                            <th><i class="ra ra-gold-bar"></i></th>
                            <th><img th:src="@{/images/kettlebell.svg}" alt="Kettlebell Icon" width="16" height="16" style="color:white;"/></th>
                            <th th:text="#{app.npcs.card.inventory.ac}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${npc.inventory}">
                            <td>
                                <span class="fw-semibold" th:text="#{${'item.' + item.name}}"></span>
                                <span class="fw-semibold"
                                      th:text="${item.quantity > 1} ? ' (' + ${item.quantity} + ')' : ''">
                                </span>
                            </td>
                            <td>
                                <span class="fw-semibold" th:text="${item.price.intValue()}"></span>
                            </td>
                            <td>
                                <span class="fw-semibold" th:text="${item.weight.intValue()}"></span>
                            </td>
                            <td>
                                <span th:text="${item instanceof T(com.raphaowl.dnd.dtos.Armor)} ? ${item.ac} : '-'"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <h5 class="border-bottom pb-1 mb-3 text-warning fw-bold">
                        <i class="ra ra-scroll-unfurled"></i> <span th:text="#{app.npcs.card.spells}"></span>
                    </h5>
                    <table class="table table-borderless table-sm table-striped">
                        <thead>
                        <tr>
                            <th>Nível</th>
                            <th th:text="#{app.npcs.card.inventory.name}"></th>
                            <th><i class="ra ra-book"></i></th>
                            <th>Damage Type</th>
                            <th>Damage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="spell : ${npc.spells}">
                            <td>
                                <span class="fw-semibold" th:text="${spell.level}"></span>
                            </td>
                            <td>
                                <span class="fw-semibold" th:text="#{${'spell.' + spell.name}}"></span>
                            </td>
                            <td>
                                <span class="fw-semibold" th:text="#{${'spell.school.' + spell.school.name()}}"></span>
                            </td>
                            <td class="fw-semibold">
                                <span th:if="${spell.damageType != null}">
                                    <i th:classappend="${spell.damageType.iconClass}"></i>
                                    <span th:text="#{${'damage.' + spell.damageType}}"></span>
                                </span>
<!--                                <i th:if="${spell.damageType != null}" th:classappend="${spell.damageType.iconClass}"></i>                                <span  th:text="#{${'damage.' + spell.damageType}}"></span>-->
                            </td>
                            <td>
                                <span class="fw-semibold" th:text="${spell.damage}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</th:block>