body {
    padding-top: 56px; /* ajusta conforme a altura do header */
}

h1, h2, h3 {
    font-family: serif !important; /* Fontes robustas/medievais */
    padding-bottom: 0.5rem;
}

.copper {
    color: #b87333; /* cor cobre */
}

.copper-bg {
    background-color: #b87333; /* fundo cobre */
    color: white !important;
}

.silver {
    color: #c0c0c0; /* cor prata */
}

.silver-bg {
    background-color: #c0c0c0; /* fundo prata */
    color: black !important;
}

.gold {
    color: #ffd700; /* cor ouro */
}

.gold-bg {
    background-color: #ffd700; /* fundo ouro */
    color: black !important;
}

.icon-h1 {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    margin-right: 0.15em;
}

.hero-section {
    position: relative;
    height: 100vh;
    background: url('/images/logo.png') no-repeat center center;
    background-size: cover;
}

.hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* escurece a imagem para o texto ficar legível */
    z-index: 1;
}

.hero-section .container {
    z-index: 2;
}

.hero-section h1,
.hero-section p {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
